body {
    background-color: #071829;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.vertical {
    border-left: 1px solid white;
    height: 15%;
    margin-left: 4.6vw;
    position: fixed;
    transition: all 0.8s ease;
}

.icons {
    position: fixed;
    top: 20vh;
}

.icons a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: #061426;
    font-size: 23px;
    margin-bottom: 5vh;
    margin-left: 6vw;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #383838;
}

.icons a:hover {
    background-color: #695b45;
    color: #fff;
}

.linkedin,
.github,
.facebook {
    background: #fff;
    color: white;
}

.header {
    /* background-image: linear-gradient(145deg, #0c0026, #110036);*/
    background-color: #071829;
}

.profile_picture {
    text-align: center;
    padding-top: 12vh;
}

.profile_picture img {
    width: 23vh;
    height: 23vh;
    border-radius: 50%;
    padding: 2px;
    background-color: rgb(108, 129, 146);
}

.intro {
    font-family: 'Amiko', sans-serif;
    text-align: center;
    padding-top: 3vh;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.intro h1 {
    font-size: 50;
    margin-top: 2vh;
    margin-bottom: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    text-shadow: 3px 3px 3px #000;
}

.intro p {
    font-size: 18;
    text-shadow: 3px 3px 3px #000;
    margin-left: 26vw;
    margin-right: 26vw;
    color: #cadae3;
}

.resume {
    text-align: center;
    font-size: 21;
    font-weight: bold;
    padding-top: 3vh;
    padding-bottom: 10vh;
}

.resume a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #c9d3ee;
    border-radius: 50px 50px;
    /* box-shadow: 2px 2px 4px #000000; */
    padding: 18px 48px;
}

.resume a:hover {
    transition: color 0.3s ease-in-out;
    background-color: #d9e1f8;
    transition: background-color 0.3s ease-in-out;
}

.horizontal-line {
    border-top: 1px solid white;
    margin-left: 25vw;
    margin-right: 25vw;
    padding-bottom: 0vh;
}

.portfolio {
    border-top: 5px solid #14315e;
    border-bottom: 5px solid #14315e;
    background-image: linear-gradient(90deg, transparent, #162d53, #162d53, #162d53, transparent);
}

.title {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 8vh;
    /*background-image: linear-gradient(145deg, #320e75, #7942bd);*/
}

.title h1 {
    font-weight: normal;
    font-size: 28;
    color: #fff;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.puzzle,
.dotted,
.board-server {
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 0vh;
    text-shadow: 1px 1px 1px #000;
}


/*.puzzle { background-image: linear-gradient(145deg, #032436, #397fa3); }
.dotted { background-image: linear-gradient(145deg, #851608, #cf4736); }
.board-server { background-image: linear-gradient(145deg, #4e00a1, #4c8de0); }*/

.container-p,
.container-d,
.container-bs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.container-p>div,
.container-d>div,
.container-bs>div {
    flex-basis: 20%;
}

.puzzle_text,
.dotted_text,
.board-server_text {
    padding-left: 3vw;
}

.puzzle_title h1,
.dotted_title h1,
.board-server_title h1 {
    font-size: 30;
    font-weight: normal;
    color: #fff;
    text-align: left;
}

.puzzle_image img,
.dotted_image img,
.board-server_image img {
    height: 350px;
    width: auto;
    border-radius: 10px 10px;
    box-shadow: 1px 1px 1px #000;
}

.puzzle_desc img,
.dotted_desc img,
.board-server_desc img {
    height: 12px;
    width: 12px;
    padding-right: 12px;
}

.puzzle_desc p,
.dotted_desc p,
.board-server_desc p {
    text-align: left;
    color: #fff;
    font-size: 16;
}

.puzzle_desc a,
.dotted_desc a,
.board-server_desc a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 16;
}

.puzzle_desc a:hover,
.dotted_desc a:hover,
.board-server_desc a:hover {
    color: #4a8dbd;
    transition: color 0.3s ease-in-out;
}

.about {
    background-image: linear-gradient(90deg, transparent, #102546, #102546, #102546, transparent);
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    /* border-top: 5px solid #193555; */
    border-bottom: 5px solid rgb(6, 32, 48);
}

.about_title h1 {
    font-size: 28;
    font-weight: normal;
    margin: 0;
    padding-top: 10vh;
    padding-bottom: 8vh;
    text-align: center;
}

.education {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.education {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}

.edu_title {}

.edu_title h1,
.edu_desc h1,
.edu_desc h2,
.edu_desc h3 {
    font-weight: normal;
}

.edu_title h1 {
    margin: 0;
    font-size: 25;
}

.edu_desc {
    padding-top: 3vh;
}

.edu_desc h1 {
    font-size: 20;
}

.edu_desc h2 {
    font-size: 18;
}

.edu_desc h3 {
    font-size: 14;
}


/*.footer {
background-image: linear-gradient(145deg, #08001f, #0e0038);
}*/

.secondary-icons {
    display: none;
}

.footer p {
    text-align: center;
    color: #bcc8e8;
    font-size: 16;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 0;
}

.navbar {
    display: none;
}

@media screen and (max-width: 1400px) {
    .title h1 {
        font-size: 26;
    }
    .puzzle_title h1,
    .dotted_title h1,
    .board-server_title h1 {
        font-size: 25;
    }
    .puzzle_desc p,
    .dotted_desc p,
    .board-server_desc p {
        font-size: 14;
    }
    .puzzle_desc img,
    .dotted_desc img,
    .board-server_desc img {
        height: 10px;
        width: 10px;
        padding-right: 10px;
    }
    .puzzle_desc a,
    .dotted_desc a,
    .board-server_desc a {
        font-size: 14;
    }
}


/* MOBILE*/


/* @media screen and (max-width: 1000px) {
    body {
        height: 100%;
    }
    .icons {
        display: none;
    }
    .dot-nav {
        display: none;
    }
    .header {
        height: auto;
    }
    .profile_picture {
        padding-top: 10vh;
    }
    .intro h1 {
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 50;
    }
    .intro p {
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 16;
    }
    .navbar {
        overflow: hidden;
        background-color: #073f74;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: initial;
        font-family: 'Kumbh Sans', sans-serif;
    }
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 16px 20px;
        text-decoration: none;
        font-size: 17px;
    }
    .navbar a:hover {
        background: #032442;
        transition: background-color 0.3s ease-in-out;
    }
    .portfolio {
        display: none;
    }
    .about {
        display: none;
    }
} */

@media screen and (max-width: 1000px) {
    .vertical {
        border: 0px solid white;
    }
    .icons {
        display: none;
    }
    .dot-nav {
        display: none;
    }
    .header {
        height: auto;
    }
    .profile_picture {
        padding-top: 10vh;
    }
    .intro h1 {
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 50;
    }
    .intro p {
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 16;
    }
    .horizontal-line {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .container-p,
    .container-d,
    .container-bs {
        display: inherit;
        align-items: none;
        justify-content: none;
        text-align: center;
    }
    .container-p>div,
    .container-d>div,
    .container-bs>div {
        flex-basis: 0;
    }
    .container-p h1,
    .container-p p,
    .container-d h1,
    .container-d p,
    .container-bs h1,
    .container-bs p {
        text-align: center;
    }
    .container-p h1,
    .container-d h1,
    .container-bs h1 {
        padding-top: 2vh;
    }
    .puzzle_text,
    .dotted_text,
    .board-server_text {
        padding-right: 3vw;
    }
    .puzzle_image,
    .dotted_image,
    .board-server_image {
        flex-basis: 0;
    }
    .puzzle,
    .dotted,
    .board-server {
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .puzzle_desc,
    .dotted_desc,
    .board-server_desc {
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .puzzle img,
    .dotted img,
    .board-server img {
        width: 60vw;
        height: auto;
    }
    .puzzle_desc img,
    .dotted_desc img,
    .board-server_desc img {
        height: 10px;
        width: 10px;
    }
    .secondary-icons {
        display: block;
        text-align: center;
        margin-left: 5vw;
        margin-right: 5vw;
        padding-bottom: 55px;
    }
    .secondary-icons img {
        text-align: center;
        border-radius: 50% 50%;
        margin-left: 2vw;
        margin-right: 2vw;
        width: 50px;
        height: auto;
        box-shadow: 1px 1px 1px #000000;
    }
    .secondary-icons img:hover {
        opacity: 0.6;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
}

@media screen and (max-width: 750px) {
    .navbar {
        overflow: hidden;
        background-color: #0e2149;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: initial;
        text-align: center;
    }
    .navbar img {
        height: 20px;
        width: auto;
    }
    .navbar a {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 12px 20px;
        text-decoration: none;
        font-size: 12px;
    }
    figcaption {
        padding-top: 10px;
    }
}